@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

$transition-time: 2.3s;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: black;

  .padding{
    padding: 2rem;
  }

  header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    // nav
    nav{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 30;
      font-size: 1.5rem;

      .container{
        .navbar-toggler{
          font-size: 2rem;
          color: #b4a9a9;
        }


        .navbar-brand{
          font-size: 2.25rem;
        }

      }

      
      
    }


    // nav {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   padding: 1rem 0;
    //   z-index: 30;
    //   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);

    //   .container {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;

    //     max-width: 70rem;
    //     padding: 0 2rem;
    //     margin: 0 auto;

    //     .logo {
    //       color: #fff;
    //       font-size: 1.1rem;
    //       text-transform: uppercase;
    //       font-weight: 600;
    //       letter-spacing: 2px;
    //       span {
    //         font-weight: 300;
    //       }
    //     }
    //     .hamburger-menu {
    //       width: 1.55rem;
    //       height: 1.5rem;
    //       cursor: pointer;
    //       display: flex;
    //       align-items: center;
    //       justify-content: flex-end;

    //       .bar {
    //         position: relative;
    //         width: 1.2rem;
    //         height: 3px;
    //         background-color: #fff;
    //         border-radius: 2px;
    //       }
    //       .bar:before,
    //       .bar:after {
    //         content: "";
    //         position: absolute;
    //         width: 1.55rem;
    //         height: 3px;
    //         right: 0;
    //         background-color: #fff;
    //         border-radius: 2px;
    //       }
    //       .bar:before {
    //         transform: translateY(-8px);
    //       }
    //       .bar:after {
    //         transform: translateY(8px);
    //       }
    //     }
    //   }
    // }
    .big-title {
      position: absolute;
      z-index: 30;
      line-height: 4rem;
      top: calc(50% - 4rem);
      width: 100%;
      text-align: center;
      font-size: 6rem;
      font-weight: 600;
      color: #fff;
      z-index: 5;
    }

    .mountain1 {
      position: absolute;
      bottom: -143px;
      /* bottom: -100px; */
      width: 1483px;
      /* width: 1500px; */
      right: 0;
      z-index: 19;
    }

    .person {
      position: absolute;
      width: 650px;
      bottom: -100px;
      left: -70px;
      z-index: 20;
    }

    .mountain2 {
      position: absolute;
      width: 728px;
      /* width: 1100px; */
      bottom: -171px;
      /* bottom: -100px; */
      left: 0;
      z-index: 18;
    }

    .mountain3 {
      position: absolute;
      /* width: 900px; */
      width: 1489px;
      /* bottom: 150px; */
      bottom: 82px;
      right: 0;
      z-index: 17;
    }

    .sky {
      position: absolute;
      width: 2100px;
      /* bottom: 250px; */
      right: 0;
    }
  }
  header:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
  }

  .about {
    width: 100%;
    // max-height: 100vh;
    background-color: #151515;
    position: relative;

    .shadow {
      position: absolute;
      bottom: 100%;
      max-height: 300px;
      width: 100%;
      left: 0;
      z-index: 20;
      background: linear-gradient(to top, #151515, transparent);
    }

    .container {
      padding: 3rem 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: center;
      min-height: 100vh;

      .content {
        color: #fff;
        transform: translateY(-50px);

        .title {
          font-weight: 600;
          font-size: 2.5rem;
          margin-bottom: 1rem;
          padding-bottom: 0.5rem;
          position: relative;

          .border {
            position: absolute;
            max-width: 50%;
            height: 3px;
            background-color: #fff;
            bottom: 0;
            left: 0;
          }
        }

        .text{
          font-size: 1.5rem;
        }
      }
      .opacity {
        opacity: 0;
      }

      //  new image container style

      .image-container {
        // height: 679px;
        // width: 600px;
        // max-height: 800px;
        // max-width: 1280px;
        // min-height: 600px;
        // min-width: 1000px;
        // display: flex;
        // justify-content: space-around;
        // align-items: center;
        // margin: 0 auto;
        scale: 1.25;
        padding-left: 12rem;

        .card {
          height: 379px;
          width: 300px;
          background: grey;
          border-radius: 10px;
          transition: background 0.8s;
          overflow: hidden;
          background: black;
          box-shadow: 0 70px 63px -60px #000000;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          .border {
            height: 369px;
            width: 290px;
            background: transparent;
            border-radius: 10px;
            transition: border 1s;
            position: relative;

            h2 {
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
              color: white;
              margin: 20px;
              opacity: 0;
              transition: opacity 1s;
            }

            .fa {
              opacity: 0;
              transition: opacity 1s;
            }

            &:hover {
              border: 1px solid white;
              h2 {
                opacity: 1;
              }
              .fa {
                opacity: 1;
              }
            }

            .icons {
              position: absolute;
              fill: #fff;
              color: #fff;
              height: 130px;
              top: 226px;
              width: 50px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-around;

              i {
                cursor: pointer;
                color: white;
              }

              // h2 {
              //   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
              //   color: white;
              //   margin: 20px;
              //   opacity: 0;
              //   transition: opacity 1s;
              // }
            }
          }
        }

        .card0 {
          background: url("./img/about.jpeg") center center no-repeat;
          background-size: 300px;

          &:hover {
            background: url("./img/about.jpeg") left center no-repeat;
            background-size: 600px;
          }
        }
      }

      // .imgContainer {
      //   transform: translateY(50px);
      //   img {
      //     width: 100%;
      //   }
      // }
    }
  }

  //  MY STACK ---------------------------------------------------

  // general styles

  // #my-stack {
  //   display: grid;
  //   // min-block-size: 100vh;
  //   place-content: center;
  //   font-family: "Poppins", sans-serif;
  //   font-size: 1.125rem;
  //   background-color: #151515;
  //   // background-color: var(--clr-primary-800);
  //   .header {
  //     padding-top: 3rem;
  //     text-align: center;
  //     font-size: clamp(1.5rem, calc(1.5rem + 1.5vw), 2rem);
  //     padding-bottom: 2rem;
  //     color: white;
  //   }
  //   .stack {
  //     max-width: 1100px;
  //     // scale: 0.9;
  //     // outline: 3px solid lime;

  //     &__inner-wrapper {
  //       padding: 1rem 0;
  //       display: flex;
  //       gap: 4rem;

  //       &__inner {
  //         display: flex;
  //         gap: 1rem;
  //         flex-wrap: wrap;

  //         & img {
  //           max-width: 100%;
  //         }
  //       }

  //       .img-list {
  //         list-style: none;
  //         align-items: center;
  //         justify-content: center;

  //         & li {
  //           min-width: 250px;
  //           img{
  //             scale: 0.7;
  //           }
  //         }
  //       }
  //     }

  //     &[data-animated="true"] {
  //       // border: 5px solid lime;
  //       overflow: hidden;
  //       --webkit-mask: linear-gradient(
  //         90deg,
  //         transparent,
  //         white 5%,
  //         white 80%,
  //         transparent
  //       );
  //       mask: linear-gradient(
  //         90deg,
  //         transparent,
  //         white 5%,
  //         white 80%,
  //         transparent
  //       );

  //       & .stack__inner {
  //         flex-wrap: nowrap;
  //         animation: scroll var(--_animation-duratoin, 40s)
  //           var(--_animation-direction, alternate) linear infinite;
  //       }
  //     }

  //     &[data-duration="fast"] {
  //       --_animation-duratoin: 15s;
  //     }
  //   }
  // }

  // @keyframes scroll {
  //   to {
  //     transform: translate(calc(-70% - 0.5rem));
  //   }
  // }




// general styles

#my-stack {
  display: grid;
  min-block-size: 40vh;
  place-content: center;
  font-family: Poppins, sans-serif;
  font-size: 1.125rem;
  background-color: #151515;

  // background-color: pink;
  // background-color: var(--clr-primary-800);
}
.header {
  text-align: center;
  font-size: clamp(1.5rem, calc(1.5rem + 1.5vw), 5rem);
  padding-bottom: 2rem;
  color: #fff;
}
.img-list {
  list-style: none;
  align-items: center;
  justify-content: center;

  & li {
    min-width: 250px;
  }
}

.stack {
  max-width: 1000px;
  // outline: 3px solid lime;

  &__inner-wrapper {
    padding: 1rem 0;
    display: flex;
    gap: 4rem;
    scale: 0.7;
  }

  &__inner {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;

    & img {
      max-width: 100%;
    }
  }

  &[data-animated="true"] {
    // border: 5px solid lime;
    overflow: hidden;
    --webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 5%,
      white 80%,
      transparent
    );
    mask: linear-gradient(
      90deg,
      transparent,
      white 5%,
      white 80%,
      transparent
    );

    & .stack__inner {
      flex-wrap: nowrap;
      animation: scroll var(--_animation-duratoin, 40s)
        var(--_animation-direction, alternate) linear infinite;
    }
    // & .scroller__inner {
    //   flex-wrap: nowrap;
    //   animation: scroll var(--_animation-duratoin, 0s)
    //     var(--_animation-direction, forwards) linear infinite;
    // }
  }

  &[data-duration="fast"] {
    --_animation-duratoin: 15s;
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-70% - 0.5rem));
  }
}





  //  my service

  .projects {
    background-color: #151515;
    .container {
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 3rem 0;
      .row {
        align-items: center;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(
          3,
          1fr
        ); /* Two columns with equal width */
        gap: 20px; /* Gap between grid items */
        border: none;
        

        .card {
          position: relative;
          height: 400px;
          width: 100%;
          // margin: 10px 0;
          // transition: ease all $transition-time;
          perspective: 1200px;
          // padding: 20px;
          cursor: pointer;
          background-color: #151515;

          &:hover {
            .cover {
              transform: rotateX(0deg) rotateY(-180deg);

              &:before {
                transform: translateZ(30px);
              }

              &:after {
                background-color: black;
              }

              h1 {
                transform: translateZ(100px);
              }

              .price {
                transform: translateZ(60px);
              }

              a {
                transform: translateZ(-60px) rotatey(-180deg);
              }
            }
          }

          .cover {
            position: absolute;
            height: 100%;
            width: 100%;
            transform-style: preserve-3d;
            transition: ease all $transition-time;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 25px;

            &:before {
              content: "";
              position: absolute;
              border: 5px solid rgba(255, 255, 255, 0.5);
              box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
              top: 20px;
              left: 20px;
              right: 20px;
              bottom: 20px;
              z-index: 2;
              transition: ease all $transition-time;
              transform-style: preserve-3d;
              transform: translateZ(0px);
              border-radius: 25px;
            }

            &:after {
              content: "";
              position: absolute;
              top: 0px;
              left: 0px;
              right: 0px;
              bottom: 0px;
              z-index: 2;
              transition: ease all 1.3s;
              background: rgba(0, 0, 0, 0.4);
              border-radius: 25px;
            }

            &.item-a {
              background-image: url("https://images.unsplash.com/photo-1520412099551-62b6bafeb5bb?auto=format&fit=crop&w=600&q=80");
            }

            &.item-b {
              background-image: url("https://images.unsplash.com/photo-1497250681960-ef046c08a56e?auto=format&fit=crop&w=600&q=80");
            }

            &.item-c {
              background-image: url("https://images.unsplash.com/photo-1525945518069-b924046d1385?auto=format&fit=crop&w=600&q=80");
            }

            h1 {
              font-weight: 600;
              position: absolute;
              bottom: 55px;
              left: 50px;
              color: white;
              transform-style: preserve-3d;
              transition: ease all $transition-time;
              z-index: 3;
              font-size: 2rem;
              transform: translateZ(0px);
            }

            .price {
              font-weight: 200;
              position: absolute;
              top: 55px;
              right: 50px;
              color: white;
              transform-style: preserve-3d;
              transition: ease all $transition-time;
              z-index: 4;
              font-size: 2em;
              transform: translateZ(0px);
            }
          }

          .card-back {
            position: absolute;
            height: 100%;
            width: 100%;
            background: #0b0f08;
            transform-style: preserve-3d;
            transition: ease all $transition-time;
            transform: translateZ(-1px);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 25px;

            // a {
            //   transform-style: preserve-3d;
            //   transition: ease transform $transition-time, ease background 0.5s;
            //   transform: translateZ(-1px) rotatey(-180deg);
            //   background: transparent;
            //   border: 1px solid white;
            //   font-weight: 200;
            //   font-size: 1.3em;
            //   color: white;
            //   padding: 14px 32px;
            //   outline: none;
            //   text-decoration: none;

            //   &:hover {
            //     background-color: white;
            //     color: #0b0f08;
            //   }
            // }

            .description{
              width: 90%;
              .text{
                color: white;
                transform: rotateY(-180deg);
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }

  footer {
    font-family: Poppins, sans-serif;
    height: 50px;
    margin-top: 25px;
    text-align: center;
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  body {
    header {
      .big-title {
        font-size: 3rem;
      }
    }
    section {
      .container {
        .content {
          .title {
            font-size: 1.2rem;
          }
          .text {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  body {
    header {
      .mountain1 {
        bottom: -176px;
        width: 1692px;
        left: -690px;
      }
      .mountain2 {
        width: 836px;
        bottom: -72px;
      }
      .mountain3 {
        width: 1900px;
        bottom: 191px;
        left: -227px;
      }

      .sky {
        width: 1643px;
        bottom: 34px;
        left: -579px;
      }
    }

    .about {
      .container {
        grid-template-columns: 1fr;
        margin: 2rem;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  body {
    header {
      .mountain1 {
        bottom: -148px;
        width: 1656px;
      }
      .mountain2 {
        width: 836px;
        bottom: -191px;
      }
      .mountain3 {
        width: 1631px;
        bottom: 121px;
      }

      .sky {
        width: 1688px;
        bottom: -69px;
      }
    }
  }
}

@media screen and (max-width: 1920px) {
  body {
    header {
      .mountain1 {
        bottom: -153px;
        width: 1847px;
        z-index: 6;
      }
      .mountain2 {
        width: 836px;
        bottom: -191px;
        z-index: 3;
      }
      .mountain3 {
        width: 1908px;
        bottom: 108px;
        z-index: 2;
      }

      .sky {
        width: 2100px;
        bottom: -164px;
      }
    }

    section {
      .container {
        max-width: 85rem;
        padding: 0 2rem;
        margin: 0 auto;
        column-gap: 5rem;
      }
    }
  }
}
