@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
// @import "../Sass/module/styles.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    nav {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 1rem 0;
      z-index: 30;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);

      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        max-width: 70rem;
        padding: 0 2rem;
        margin: 0 auto;

        .logo {
          color: #fff;
          font-size: 1.1rem;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 2px;
          span {
            font-weight: 300;
          }
        }
        .hamburger-menu {
          width: 1.55rem;
          height: 1.5rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .bar {
            position: relative;
            width: 1.2rem;
            height: 3px;
            background-color: #fff;
            border-radius: 2px;
          }
          .bar:before,
          .bar:after {
            content: "";
            position: absolute;
            width: 1.55rem;
            height: 3px;
            right: 0;
            background-color: #fff;
            border-radius: 2px;
          }
          .bar:before {
            transform: translateY(-8px);
          }
          .bar:after {
            transform: translateY(8px);
          }
        }
      }
    }
    .big-title {
      position: absolute;
      z-index: 30;
      line-height: 4rem;
      top: calc(50% - 4rem);
      width: 100%;
      text-align: center;
      font-size: 6rem;
      font-weight: 600;
      color: #fff;
      z-index: 5;
    }

    .mountain1 {
      position: absolute;
      bottom: -143px;
      /* bottom: -100px; */
      width: 1483px;
      /* width: 1500px; */
      right: 0;
      z-index: 19;
    }

    .person {
      position: absolute;
      width: 650px;
      bottom: -100px;
      left: -70px;
      z-index: 20;
    }

    .mountain2 {
      position: absolute;
      width: 728px;
      /* width: 1100px; */
      bottom: -171px;
      /* bottom: -100px; */
      left: 0;
      z-index: 18;
    }

    .mountain3 {
      position: absolute;
      /* width: 900px; */
      width: 1489px;
      /* bottom: 150px; */
      bottom: 82px;
      right: 0;
      z-index: 17;
    }

    .sky {
      position: absolute;
      width: 2100px;
      /* bottom: 250px; */
      right: 0;
    }
  }
  header:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
  }

  .about {
    width: 100%;
    background-color: #151515;
    position: relative;

    .shadow {
      position: absolute;
      bottom: 100%;
      height: 300px;
      width: 100%;
      left: 0;
      z-index: 20;
      background: linear-gradient(to top, #151515, transparent);
    }

    .container {
      padding: 3rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: center;
      min-height: 100vh;

      .content {
        color: #fff;
        transform: translateY(-50px);

        .title {
          font-weight: 600;
          font-size: 1.5rem;
          margin-bottom: 1rem;
          padding-bottom: 0.5rem;
          position: relative;

          .border {
            position: absolute;
            max-width: 50%;
            height: 3px;
            background-color: #fff;
            bottom: 0;
            left: 0;
          }
        }
      }
      .opacity {
        opacity: 0;
      }

      .imgContainer {
        transform: translateY(50px);
        img {
          width: 100%;
        }
      }
    }
  }

  //  MY STACK ---------------------------------------------------

  // general styles

  #my-stack {
    display: grid;
    // min-block-size: 100vh;
    place-content: center;
    font-family: system-ui;
    font-size: 1.125rem;
    // background-color: var(--clr-primary-800);
    .header {
      text-align: center;
      font-size: clamp(1.5rem, calc(1.5rem + 1.5vw), 5rem);
      padding-bottom: 2rem;
    }
    .stack {
      max-width: 1550px;
      // outline: 3px solid lime;

      &__inner-wrapper {
        padding: 1rem 0;
        display: flex;
        gap: 4rem;

        &__inner {
          display: flex;
          gap: 2rem;
          flex-wrap: wrap;

          & img {
            max-width: 100%;
          }
        }

        .img-list {
          list-style: none;
          align-items: center;
          justify-content: center;

          & li {
            min-width: 250px;
          }
        }
      }

      &[data-animated="true"] {
        // border: 5px solid lime;
        overflow: hidden;
        --webkit-mask: linear-gradient(
          90deg,
          transparent,
          white 5%,
          white 80%,
          transparent
        );
        mask: linear-gradient(
          90deg,
          transparent,
          white 5%,
          white 80%,
          transparent
        );

        & .stack__inner {
          flex-wrap: nowrap;
          animation: scroll var(--_animation-duratoin, 40s)
            var(--_animation-direction, alternate) linear infinite;
        }
      }

      &[data-duration="fast"] {
        --_animation-duratoin: 15s;
      }
    }
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-70% - 0.5rem));
    }
  }



  footer{
    height: 50px;
  }
}

@media (max-width: 600px) {
  body {
    header {
      .big-title {
        font-size: 3rem;
      }
    }
    section {
      .container {
        .content {
          .title {
            font-size: 1.2rem;
          }
          .text {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  body {
    header {
      .mountain1 {
        bottom: -176px;
        width: 1692px;
        left: -690px;
        
      }
      .mountain2 {
        width: 836px;
        bottom: -72px;
        
      }
      .mountain3 {
        width: 1900px;
        bottom: 191px;
        left: -227px;
        
      }

      .sky {
        width: 1643px;
        bottom: 34px;
        left: -579px;
      }
    }

    .about {
      .container {
        grid-template-columns: 1fr;
        margin: 2rem;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  body {
    header {
      .mountain1 {
        bottom: -148px;
        width: 1656px;
      }
      .mountain2 {
        width: 836px;
        bottom: -191px;
      }
      .mountain3 {
        width: 1631px;
        bottom: 121px;
      }

      .sky {
        width: 1688px;
        bottom: -69px;
      }
    }
  }
}

@media screen and (max-width: 1920px) {
  body {
    header {
      .mountain1 {
        bottom: -153px;
        width: 1847px;
        z-index: 6;
      }
      .mountain2 {
        width: 836px;
        bottom: -191px;
        z-index: 3;
      }
      .mountain3 {
        width: 1908px;
        bottom: 108px;
        z-index: 2;
      }

      .sky {
        width: 2100px;
        bottom: -164px;
      }
    }

    section {
      .container {
        max-width: 70rem;
        padding: 0 2rem;
        margin: 0 auto;
        column-gap: 5rem;
      }
    }
  }
}
